body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #3c4b63;
}
.color-bg{
    background-color: #f4f0ff;
}
.navbar button{
    color: #FFFFFF !important;
}
.navbar {
    color: #FFFFFF !important;
}
.nav-bar-section{
    background-color: #3c4b63;
    color: #FFFFFF !important;
}
.navbar-brand{
    color: #FFFFFF;
    font-weight: 700;
}
.navbar ul li a{
    color: #FFFFFF;
    margin: 2px 20px;
}
.hero-section {
    background-color: #e7e1ff;
    padding: 60px 0;
    margin-bottom: 40px;
    padding: 200px 0px !important;
}

.content-section {
    padding: 40px 0;
}
.roadmap-section{
    padding: 40px 0;
}
.blog-section{
    padding: 50px 0;
}
.blog-section-header{
    margin-bottom: 35px;
}
.card {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    padding: 20px 0;
}

.btn-primary {
    background-color: #3c4b63;
    border-color: #3c4b63;
}

.btn-primary:hover {
    background-color: #2b3549;
    border-color: #2b3549;
}
